.hero-subtitle {
  background-color: rgba(0, 0, 0, 0.4);
  border-left: 2px solid lime !important;
  border: 1.5px solid rgba(0, 255, 0, 0.1);
  color: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.hero-section {
  min-height: 80vh;
}

.hero-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid lime;
  box-shadow: 0 0 25px rgba(0, 255, 0, 0.2);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  transform: translateZ(0);
}

.btn-5 {
  position: relative; /* ESTA ES LA CLAVE para que las líneas no se escapen */
  display: inline-block; /* Hace que el botón ocupe solo el espacio del texto */
  width: fit-content; /* Ajusta el ancho al texto exacto */
  padding: 5px 0; /* Un pequeño margen arriba y abajo para que las líneas no toquen las letras */
  color: white;
  text-decoration: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn-5:hover {
  color: lime;
  background: transparent;
  box-shadow: none;
}

.btn-5:before,
.btn-5:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: lime;
  transition: 400ms ease all;
}

.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid lime;
  animation: typing 4.5s steps(23, end) infinite alternate,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50%,
  100% {
    width: 20.7ch;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: lime;
  }
}

@media (max-width: 991px) {
  .hero-subtitle {
    border-left: 2px solid lime !important;
    border: 0px;
  }
  .hero-img {
    width: 220px;
    height: 220px;
  }
}
