button {
  --button_radius: 0.5em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.ui-btn {
  --btn-padding: 10px 15px;
  --btn-transition: 0.3s ease;
  --hover-btn-color: lime;
  --default-btn-color: #ffffff;
  --font-size: 1.3rem;
  --font-weight: 100;
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-family: "Roboto", sans-serif;
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: none;
  transition: color var(--btn-transition);
}

.ui-btn span {
  display: inline-block;
  transition: transform var(--btn-transition), color var(--btn-transition);
}

@media (hover: hover) {
  .ui-btn:hover {
    color: var(--hover-btn-color);
  }

  .ui-btn:hover span {
    transform: translateY(-3px);
  }
}

.ui-btn:active {
  color: var(--hover-btn-color);
  background: transparent;
}

.ui-btn:active span {
  transform: scale(0.95);
  color: var(--hover-btn-color);
}

@media (max-width: 768px) {
  .ui-btn {
    padding: 0.5em 1em;
    font-size: 1.5rem;
    height: auto;
  }

  .ui-btn span {
    font-size: 1.2rem;
  }
}

.loader {
  width: 55px;
  aspect-ratio: 1;
  --g1: conic-gradient(from 90deg at 3px 3px, #0000 90deg, #fff 0);
  --g2: conic-gradient(from -90deg at 22px 22px, #0000 90deg, #fff 0);
  background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation: l7 1.5s infinite;
}
