@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
  --fs-body: 30px;
  --fs-h1: clamp(30px, 2.5vw, 54px);
  --fs-h2: clamp(22px, 2.4vw, 32px);
  --fs-p: clamp(23px, 3.4vw, 23px);
}

body {
  font-family: "Roboto", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-size: var(--fs-body);
  line-height: 1.5;
  font-weight: 100;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: 100;
}

h2 {
  font-size: var(--fs-h2);
  font-weight: 200;
}

p {
  font-size: var(--fs-p);
  font-weight: 100;
  letter-spacing: 1.2px;
}

.typing {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid lime;
  width: 0;
  animation: typing 4s steps(11, end) infinite, blink .8s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0
  }
  40% {
    width: 10.8ch
  }
  60% {
    width: 10.8ch
  }
  100% {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes l7 {
  0% {
    background-position: 0 0, 0 100%, 100% 100%
  }
  25% {
    background-position: 100% 0, 0 100%, 100% 100%
  }
  50% {
    background-position: 100% 0, 0 0, 100% 100%
  }
  75% {
    background-position: 100% 0, 0 0, 0 100%
  }
  100% {
    background-position: 100% 100%, 0 0, 0 100%
  }
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.muted {
  font-weight: 300;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#gradient-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  --gradient-color-1: #ffffff;
  --gradient-color-2: #a9f09b;
  --gradient-color-3: #61c747;
  --gradient-color-4: #84ff6c;
}

.bg-transparent-light {
  background-color: rgba(255, 255, 255, 0.5);
}

.hero-title {
  font-size: 9rem;
  font-weight: 800;
  line-height: 1.2;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffffff' stroke-width='2' stroke-linecap='square' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border: 1px solid #ffffff;
  border-radius: 0;
  padding: 3px;
}

.text-responsive {
  font-size: 1rem;
}

.punto-timeline {
  width: 15px;
  height: 15px;
  left: -8px;
  margin-top: 11.3px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 7vw;
  }
  h2 {
    font-size: 6vw;
  }
  p {
    font-size: 4vw;
  }
  .punto-timeline {
    width: 15px;
    height: 15px;
    left: -8px;
    margin-top: 7px;
  }
  .card {
    width: 300px;
    height: 300px;
  }
}